<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="e" class="com.app.Employee">
		<property name="id" value="1" />
		<property name="name" value="sam" />
		<property name="sal" value="1000" />
		<property name="adr">
			<bean class="com.app.Address">
				<property name="city" value="Pune" />
				<property name="state" value="MH" />
			</bean>
		</property>
	</bean>

</beans>